//- player-info.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
  br
  div.row
    div.col-4
      div.card
        //- TODO: Modify the pug code below to conditionally set the image_src
        - let image_src = 'Downloads/Lab_Website_3/resources/img/helmet.jpg'

        img.card-img-top#player_img(src=player_ID ? query2.img_src : 'Downloads/Lab_Website_3/resources/img/helmet.jpg', alt="Football Player")
        div.card-body.mx-auto
          form.form(action="/player_info/post", method="get")
            select.custom-select(name="player_choice", onchange="this.form.submit()")
              option(selected) Select Player
              - if (data)
                for item in data
                 option(value= item.id)= item.name
                 
   
    div.col-8
      div.table-responsive
        table.table
          - if (information)
          tr
            th Year
            td= information.year
          tr
            th Major
            td= information.major
          tr
            th Games Played
            td= totalgames.count
          tr
            td= "Passing yards: " + information.passing_yards
            td= "Avg. Passing Yards: " +information.passing_yards/totalgames.count
          tr
            td= "Rushing yards: " + information.rushing_yards 
            td= "Avg. Rushing Yards: " + information.rushing_yards/totalgames.count
          tr
            td= "Receiving yards: " + information.receiving_yards
            td= "Avg. Receiving Yards: " +information.receiving_yards/totalgames.count

include ../partials/footer.pug
